.deposit body, p, input, select, textarea, button {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}
.depositForm {
  padding: 16px;
  width: 320px;
  margin: 0 auto;
}
.segment {
  color: black;
  padding: 25px 0 0px 0;
  text-align: center;
}
.machine{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1.35rem;
  font-weight: bolder;
  color: #61dafb;
}
.depositForm input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: white;
}
.depositForm label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}
.depositForm input {
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px  #FFF;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
.depositForm  input:focus {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
