.linkMedia {
  width: 40px;
}
.btnTable {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  padding: 0;
  transition: all 0.4s;
  color: #000;
}
.btnTable:hover {
  color: #fff;
}

.hr {
  border: none;
  width: 60%;
  margin: 5px auto;
  padding: 0.2px;
  background-color: #000;
}
.p {
  margin: 0;
  padding: 0;
}
