.tbody::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.tbody::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
}
.tableFill {
  border-collapse: collapse;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #000;
  width: 100%;
  table-layout: fixed;
  box-sizing: border-box;
}

.tbody {
  display: block;
  height: 70vh;
  overflow: auto;
  width: calc(100% - 0.65em);
  box-sizing: border-box;
}

/* tbody tr:last-child {
    display: none;
  } */

.thead,
.tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  box-sizing: border-box;
}
.thead {
  width: calc(100% - 0.7em);
  box-sizing: border-box;
}

.th {
  background: #a2a8ad;
  font-size: 16px;
  font-weight: 500;
  padding: 4px;
  text-align: center;
  border: 2px solid #6b6c74;
  box-sizing: border-box;
}

.tbody tr {
  font-weight: normal;
  min-height: 60px;
}

.tbody tr:last-child {
  border-bottom: none;
}

.tableFill td {
  padding: 5px;
  font-weight: 500;
  font-size: 17px;
  border: 2px solid #c1c3d1;
  word-wrap: break-word;
  box-sizing: border-box;
}

.tableFill td:nth-child(-n + 9),
.th:nth-child(-n + 9) {
  width: 14px;
  font-size: 15px;
}

.tableFill td:nth-child(2),
.th:nth-child(2) {
  width: 20px;
  font-size: 14px;
}

.tableFill td:nth-child(3),
.th:nth-child(3) {
  width: 16px;
  font-size: 15px;
}
.tableFill td:nth-child(4),
.th:nth-child(4) {
  width: 20px;
  font-size: 15px;
}
.tableFill td:nth-child(8),
.th:nth-child(8) {
  width: 30px;
  font-size: 15px;
}
.tableFill td:nth-child(9),
.th:nth-child(9) {
  width: 14px;
  font-size: 15px;
}

.tableFill td:last-child,
.th:last-child {
  width: 15px;
  font-size: 14px;
}
.tableFill td:last-child {
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  .tableFill {
    border: 0px;
  }
  .tableFill caption {
    font-size: 22px;
  }
  .tableFill .thead {
    display: none;
  }
  .tableFill .tbody tr {
    margin-bottom: 8px;
    border-bottom: 4px solid #ddd;
    display: block;
  }
  .tableFill .th,
  .tableFill .tbody td {
    font-size: 14px;
  }
  .tableFill .tbody td {
    display: block;
    border-bottom: 1px solid #ddd;
    text-align: right;
    width: auto;
  }
  .tableFill .tbody td:last-child {
    border-bottom: 0px;
  }
  .tableFill .tbody td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    float: left;
  }
  .tableFill hr {
    width: 10%;
    margin-left: 90%;
  }
  .tableFill .tbody td {
    min-height: 40px;
  }
}
